pkgbase = mirrorlist-timer
	pkgdesc = A systemd timer to update your mirrorlist weekly
	pkgver = 0.1
	pkgrel = 1
	url = https://github.com/cafehaine/archlinux_packages
	install = mirrorlist-timer.install
	arch = any
	license = MIT
	depends = pacman-contrib
	depends = curl
	source = generate_mirrorlist.sh
	source = update_mirrorlist.timer
	source = update_mirrorlist.service
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP

pkgname = mirrorlist-timer

