pkgbase = bootimg-scripts-git
	pkgdesc = Perl scripts for unpacking and repackaging Android boot.img's.
	pkgver = r1.d402b1f
	pkgrel = 1
	url = https://github.com/sophiehuiberts/Bootimg-script
	arch = any
	license = Unknown
	makedepends = git
	depends = cpio
	source = git+https://github.com/sophiehuiberts/Bootimg-scripts
	md5sums = SKIP

pkgname = bootimg-scripts-git

